<div class="container-fluid p-0">
    <div class="bg-light-blue">
        <div class="container mt-0 pt-5">
            <div class="row">
                <div class="col-sm-5 pb-5">
                    <p class="m-0">LM0001</p>
                    <h3 class="text-left f-bold">Jersey Miki’s Subs
                        Season offer</h3>
                    <h5 class="clr-blue-light f-bold pb-3">15% off on hot subs</h5>
                    <p> Established in 2010, United Finance is an European multi-national company providing
                        product as a service. Amid the constant change in technology and every companies' desire to
                        equip with the latest products, comes the monetary constraint.</p>
                    <div>
                        <a class="btn-clr-blue-save">
                            <img src="assets/images/icons/save.png" alt="save"> Save</a>
                    </div>
                </div>
                <div class="col-sm-7">
                    <img class="img-fluid position-absolute mt-30" src="assets/images/products/coupon.png" alt="coupon" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="py-5">
            <div class="row pt-5">
                <h5 class="col-sm-12 ltr-space f-bold">Description</h5>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row py-2">
                                <div class="col-sm-6 ltr-space">
                                    LM Name
                                </div>
                                <div class="col-sm-6 ltr-space f-bold">
                                    Jersey Mike's
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-sm-6 ltr-space">
                                    LM Description
                                </div>
                                <div class="col-sm-6 ltr-space f-bold">
                                    Subs Restaurant
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-sm-6 ltr-space">
                                    LM Offer Type
                                </div>
                                <div class="col-sm-6 ltr-space f-bold">
                                    % off
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-sm-6 ltr-space">
                                    LM Offer Value
                                </div>
                                <div class="col-sm-6 ltr-space f-bold">
                                    15
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-sm-6 ltr-space">
                                    Applicable products
                                </div>
                                <div class="col-sm-6 ltr-space f-bold">
                                    Hot Subs
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-sm-6 ltr-space">
                                    Offer Region
                                </div>
                                <div class="col-sm-6 ltr-space f-bold">
                                    Montgomerry VA
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-sm-6 ltr-space">
                                    Offer Start Date
                                </div>
                                <div class="col-sm-6 ltr-space f-bold">
                                    12/1/2019
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-sm-6 ltr-space">
                                    Offer Expiry
                                </div>
                                <div class="col-sm-6 ltr-space f-bold">
                                    12/31/2019
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-sm-6 ltr-space">
                                    Offer Terms & Conditions
                                </div>
                                <div class="col-sm-6 ltr-space f-bold">
                                    Valid on hot subs only
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-sm-6 ltr-space">
                                    Offer Currency
                                </div>
                                <div class="col-sm-6 ltr-space f-bold">
                                    US $
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <img class="w-100" src="assets/images/products/product.png" alt="product" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="mt-0 pt-5">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="ltr-space f-bold f-bold">Other Terms and Conditions</h3>
                    <p class="pt-3"> Item must be purchased and receipt must be uploaded between 12:00 AM November 28,
                        2019 and 11:59 PM
                        December 31, 2019.</p>
                    <p> Offers are available in limited quantities.</p>
                    <p> Packing slips are accepted for items purchased online. Packing slips must be uploaded by 11:59
                        PM
                        December 31, 2019.</p>
                    <p> Please check the offer details closely as some offers cannot be redeemed on GoBaskt when saved,
                        claimed or redeemed on other savings apps or websites.</p>

                </div>
                <div class="col-sm-6">
                    <div class="prod-details-btns-save-print">
                        <div class="row">
                            <div class="col-sm-6">
                                <a class="btn-clr-blue-save">
                                    <img src="assets/images/save.png" alt="save"> Save</a>
                            </div>
                            <div class="col-sm-6 text-left">
                                <a class="btn-clr-blue-save">
                                    <img src="assets/images/save.png" alt="print"> Print It</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-0 pt-5">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-9">
                        <p class="pt-3"> The better way to buy </p>
                        <p> things online.</p>
                        <h5 class="f-bold">Buy Smart, Save Big !</h5>
                        <div class="input-group mb-3 mt-5 border-shadow">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white">
                                    <img class="w-100" src="assets/images/us-flag.png" alt="flag" />
                                </span>
                            </div>
                            <input class="form-control" placeholder="Mobile Number" type="text">
                            <div class="input-group-append"><span class="input-group-text">Get App link</span></div>
                        </div>
                        <div class="mb-3 mt-5">
                            <p class="pt-3">or scan the QR code and get the app </p>
                            <img class="img-fluid pr-3" src="assets/images/google-play.png" alt="playstore" />
                            <img class="img-fluid pl-3" src="assets/images/qr-code.png" alt="qrcode" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <img class="w-100" src="assets/images/downlaod-app-img.png" alt="Downloadapp" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-0 position-relative">
        <img class="img-fluid" src="assets/images/bg-offer.png" alt="OfferBg" />
        <div class="overlay-text-right clr-white pt-5 ltr-space f-bold">
            <h3 class="m-0  f-bold">50% OFF </h3>
            <p class="m-0">on your first month subscription ! </p>
            <p class="m-0">New coupons added everyday </p>
            <img class="img-fluid" src="assets/images/news-letter.png" alt="NewsLetter" />
        </div>
    </div>
</div>
