<div class="px-4 px-lg-0">
    <div class="container">
        <h3 class="clr-dark-blue py-3">Your<span class=" f-bold"> Basket</span></h3>
    </div>
    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <!-- Shopping cart table -->
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row" class="border-0 my-auto">
                                        <div class="">
                                            <div class="checkbox-container">
                                                <label class="checkbox-label">
                                                    <input type="checkbox">
                                                    <span class="checkbox-custom rectangular"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="row" class="border-0">
                                        <div class="p-2">
                                            <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-1_zrifhn.jpg"
                                                alt="" width="70" class="img-fluid rounded shadow-sm">
                                            <div class="ml-3 d-inline-block align-middle">
                                                <h5 class="mb-0"> <a href="#"
                                                        class="text-dark d-inline-block align-middle">Jersey Mike’s
                                                        Subs</a></h5><span
                                                    class="text-muted font-weight-normal font-italic d-block">Category:
                                                    Watches</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="border-0 align-middle clr-blue-light">
                                        <h3><strong>$79.00</strong></h3>
                                        <p class="f-bold">OFF</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="border-0 my-auto">
                                        <div class="">
                                            <div class="checkbox-container">
                                                <label class="checkbox-label">
                                                    <input type="checkbox">
                                                    <span class="checkbox-custom rectangular"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="row">
                                        <div class="p-2">
                                            <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-3_cexmhn.jpg"
                                                alt="" width="70" class="img-fluid rounded shadow-sm">
                                            <div class="ml-3 d-inline-block align-middle">
                                                <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">Apple
                                                        Airpods Pro 2019</a></h5><span
                                                    class="text-muted font-weight-normal font-italic">Category:
                                                    Electronics</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="align-middle clr-blue-light">
                                        <h3><strong>15%</strong></h3>
                                        <p class="f-bold">OFF</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="border-0 my-auto">
                                        <div class="">
                                            <div class="checkbox-container">
                                                <label class="checkbox-label">
                                                    <input type="checkbox">
                                                    <span class="checkbox-custom rectangular"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="row">
                                        <div class="p-2">
                                            <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-2_qxjis2.jpg"
                                                alt="" width="70" class="img-fluid rounded shadow-sm">
                                            <div class="ml-3 d-inline-block align-middle">
                                                <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block">Gray Nike
                                                        running shoe</a></h5><span
                                                    class="text-muted font-weight-normal font-italic">Category:
                                                    Fashion</span>
                                            </div>
                                        </div>
                                    <td class="align-middle clr-blue-light">
                                        <h3><strong>$79.00</strong></h3>
                                        <p class="f-bold">OFF</p>
                                    </td>
                                </tr>
                                <!--  <tr>
                                    <td  class="border-0 my-auto">
                                        <div class="">
                                            <p>Add more coupons to your Basket</p>
                                            <a href="#" class="clr-blue-light">
                                                <img class="img-fluid" src="assets/images/icons/location_icon.png"
                                                    alt="Theme-Logo" /><span class="pl-2">Continue Shopping</span></a>
                                        </div>
                                    </td>
                                </tr> -->

                            </tbody>
                        </table>
                        <div class="">
                            <p class="clr-blue-light">Add more coupons to your Basket</p>
                            <a href="#" [routerLink]="['/home']" class="clr-blue-light f-bold">
                                <img class="img-fluid vertical-bottom" src="assets/images/icons/back.png"
                                    alt="Theme-Logo" /><span class="f-22 f-bold pl-2">Continue Shopping</span></a>
                        </div>
                    </div>
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="py-5 bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 clr-white f-28">
                    <span class="f-bold">03</span><span class="px-3">Coupons Selected</span><span><a
                            class="btn-white f-bold">
                            Clear all</a></span>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-default transparent-btn-css mx-3" type="submit">Email It</button>
                    <button class="btn btn-default white-btn-css f-bold" type="submit">Print Coupons</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>