<div class="pt-3 signup-bg">
  <div class="container">
    <div class="col-md-12 text-center pb-80">
      <span class="f-18 mr-10">Make</span>
      <h3 class="d-inline f-bold f-28"> Your Brand known to All</h3>
      <p class="f-18">Partner with us today & increase your reach <span [routerLink]="['/Login']" class="cursor-pointer f-bold clr-blue">Click Here</span></p>
    </div>
    <div class="row m-0">
      <div class="col-md-6">
        <img class="img-fluid h-20" src="assets/images/signup_img.png" alt="signup" />
      </div>
      <div class="col-md-6">
        <div class="panel panel-default cus-bg">
          <div class="partner-login">
            <h3 class="title-partner">Partner Sign Up</h3>
            <p class="f-15">Quick 4 step form, helping you save your time</p>
          </div>
          <div class="panel-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <div class="col-sm-12">
                    <input class="form-control inpt" id="Email" placeholder="Email"
                    required="" type="email">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input class="form-control inpt" id="Password" placeholder="Password"
                    required="" type="Password">
                </div>
              </div>
              <div class="form-group last">
                <div class="col-sm-12">
                  <button type="submit" [routerLink]="['/home']" class="col-sm-12 btn-clr-blue btn btn-sm">
                    Sign in</button>
                    <p class="text-center pt-3">Already a member?<a [routerLink]="['/Login']" class="cursor-pointer f-bold clr-blue">Click Here</a></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>