<div class="container-fluid p-0">
  <div class="bg-light-blue">
    <div class="container mt-0">
      <!-- Banner -->
      <div class="banner">
        <img class="img-fluid" src="assets/images/banner.png" alt="banner" />
      </div>
      <!-- End Banner -->
    </div>
  </div>
  <!-- Search -->
  <div class="bg-light-blue">
    <div class="container mt-0">
      <form class="waves-light" mdbWavesEffect>
        <div class="md-form pt-5 pb-5 text-center">
          <div class="input-group cus-search">
            <input type="text" class="form-control" placeholder="Search for the best offers near you">
            <div class="input-group-append">
              <button class="btn btn-secondary bg-blue" type="button" [routerLink]="['/result']">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
         <!--  <input class="form-control cus-search" type="text" placeholder="search for the best offers near you"> -->
        </div>
      </form>
    </div>
  </div>
  <!-- End search -->

  <div class="container py-5" id="explore">
    <section class="explore-gallery col">
      <div class="row position-relative tabs-box">
        <ngb-tabset type="pills">
          <ngb-tab title="ALL">
            <ng-template ngbTabContent>
              <div class="tab-pane fade active show" id="all" role="tabpanel" aria-labelledby="all-tab">
                <div class="images-container pt-5">
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/food-dining.png">
                    <p class="categories-text">Food & Dining</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/apparel.png">
                    <p class="categories-text">Fashion & Apparel</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/health-fitness.png">
                    <p class="categories-text">Health & Fitness</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/home_appliances.png">
                    <p class="categories-text">Home Appliances</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/entertainment.png">
                    <p class="categories-text">Entertainment</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/medical.png">
                    <p class="categories-text">Medicines & Drugs</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/electronics.png">
                    <p class="categories-text">Electronics</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <button mat-button [matMenuTriggerFor]="menu"><img src="assets/images/icons/more.png">
                      <p class="categories-text">more</p>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <img class="menu-img" src="assets/images/categories/food-dining.png">
                        <span class="categories-text">Food & Dining</span>
                      </button>
                      <button mat-menu-item>
                        <img class="menu-img" src="assets/images/categories/apparel.png">
                        <span class="categories-text">Fashion & Apparel</span>
                      </button>
                      <button mat-menu-item>
                        <img class="menu-img" src="assets/images/categories/health-fitness.png">
                        <span class="categories-text">Health & Fitness</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
                <div class="row m-0 mt-3">
                  <div class="col-md-3 image-trans p-1" *ngFor="let item of localOfferDetails">
                    <div class="outline-none" [routerLink]="['/productdetails']">
                      <img class="img-fluid cursor-pointer" src="{{item.webOfferImage1}}" alt="">
                      <div class="desc">
                        <img class="card-img bg-transparent" src="assets/images/coupon-background.png" alt="">
                        <div class="col-12 p-0 m-height-150">
                          <div class="row m-0 pt-3 cursor-pointer">
                            <div class="col-8 pl-4 pr-0">
                              <div class="max-h-65">
                              <img class="max-w-30" src="{{item.mobileOfferImage2}}" alt="">
                              </div>
                              <p>{{item.lmdescription}}</p>
                            </div>
                            <div class="col-4">
                              <p class="clr-green f-bold">{{item.lmofferValue}} {{item.lmofferType}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-center save-btn-pos">
                      <button class="btn-clr-blue-save" (click)="addToCartLocal(localOfferDetails)">
                        Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle>BRAND OFFERS</ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane fade active show" id="celeb" role="tabpanel" aria-labelledby="Celeb-tab">
                <div class="images-container pt-5">
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/food-dining.png">
                    <p class="categories-text">Food & Dining</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/apparel.png">
                    <p class="categories-text">Fashion & Apparel</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/health-fitness.png">
                    <p class="categories-text">Health & Fitness</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/home_appliances.png">
                    <p class="categories-text">Home Appliances</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/entertainment.png">
                    <p class="categories-text">Entertainment</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/medical.png">
                    <p class="categories-text">Medicines & Drugs</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/electronics.png">
                    <p class="categories-text">Electronics</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <button mat-button [matMenuTriggerFor]="menu"><img src="assets/images/icons/more.png">
                      <p class="categories-text">more</p>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <img class="menu-img" src="assets/images/categories/food-dining.png">
                        <span class="categories-text">Food & Dining</span>
                      </button>
                      <button mat-menu-item>
                        <img class="menu-img" src="assets/images/categories/apparel.png">
                        <span class="categories-text">Fashion & Apparel</span>
                      </button>
                      <button mat-menu-item>
                        <img class="menu-img" src="assets/images/categories/health-fitness.png">
                        <span class="categories-text">Health & Fitness</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
                <div class="row m-0 mt-3">
                  <div class="col-md-3 image-trans p-1" *ngFor="let item of localOfferDetails">
                    <div  class="outline-none" [routerLink]="['/productdetails']">
                      <img class="img-fluid cursor-pointer" src="{{item.webOfferImage1}}" alt="">
                      <div class="desc">
                        <img class="card-img bg-transparent" src="assets/images/coupon-background.png" alt="">
                        <div class="col-12 p-0 m-height-150">
                          <div class="row m-0 pt-3 cursor-pointer">
                            <div class="col-8 pl-4 pr-0">
                              <img class="max-w-30" src="{{item.mobileOfferImage2}}" alt="">
                              <p>{{item.lmdescription}}</p>
                            </div>
                            <div class="col-4">
                              <p class="clr-green f-bold">{{item.lmofferValue}} {{item.lmofferType}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-center save-btn-pos">
                      <button class="btn-clr-blue-save" (click)="addToCartLocal(localOfferDetails)">
                        Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <div class="col-3 py-2 wrap-txt-right position-absolute d-inline-flex">
            <div class="row">
              <label for="colFormLabelSm" class="col-form-label">Sort by</label>
              <div class="col-sm-8 pr-0">
                <select class="custom-select custom-select-sm mt-1">
                  <option selected="">Most Popular</option>
                  <option value="1">Recently Added</option>
                  <option value="2">Expiring Soon</option>
                </select>
              </div>
            </div>
          </div>
          <ngb-tab>
            <ng-template ngbTabTitle>LOCAL OFFERS</ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane fade  active show" id="brand" role="tabpanel" aria-labelledby="brand-tab">
                <div class="images-container pt-5">
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/food-dining.png">
                    <p class="categories-text">Food & Dining</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/apparel.png">
                    <p class="categories-text">Fashion & Apparel</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/health-fitness.png">
                    <p class="categories-text">Health & Fitness</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/home_appliances.png">
                    <p class="categories-text">Home Appliances</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/entertainment.png">
                    <p class="categories-text">Entertainment</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/medical.png">
                    <p class="categories-text">Medicines & Drugs</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <img src="assets/images/categories/electronics.png">
                    <p class="categories-text">Electronics</p>
                  </div>
                  <div class="text-center cursor-pointer">
                    <button mat-button [matMenuTriggerFor]="menu"><img src="assets/images/icons/more.png">
                      <p class="categories-text">more</p>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <img class="menu-img" src="assets/images/categories/food-dining.png">
                        <span class="categories-text">Food & Dining</span>
                      </button>
                      <button mat-menu-item>
                        <img class="menu-img" src="assets/images/categories/apparel.png">
                        <span class="categories-text">Fashion & Apparel</span>
                      </button>
                      <button mat-menu-item>
                        <img class="menu-img" src="assets/images/categories/health-fitness.png">
                        <span class="categories-text">Health & Fitness</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
                <div class="row m-0 mt-3">
                  <div class="col-md-3 image-trans p-1" *ngFor="let item of localOfferDetails">
                    <div  class="outline-none" [routerLink]="['/productdetails']">
                      <img class="img-fluid cursor-pointer" src="{{item.webOfferImage1}}" alt="">
                      <div class="desc">
                        <img class="card-img bg-transparent" src="assets/images/coupon-background.png" alt="">
                        <div class="col-12 p-0 m-height-150">
                          <div class="row m-0 pt-3 cursor-pointer">
                            <div class="col-8 pl-4 pr-0">
                              <!--  <span class="f-9 f-bold">BRAND OFFER</span> -->
                              <img class="max-w-30" src="{{item.mobileOfferImage2}}" alt="">
                              <p>{{item.lmdescription}}</p>
                            </div>
                            <div class="col-4">
                              <p class="clr-green f-bold">{{item.lmofferValue}} {{item.lmofferType}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-center save-btn-pos">
                      <button class="btn-clr-blue-save" (click)="addToCartLocal(localOfferDetails)">
                        Save</button>
                    </div>
                  </div>

                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <div class="col-3 py-2 wrap-txt-right position-absolute d-inline-flex">
            <div class="row">
              <label for="colFormLabelSm" class="col-form-label">Sort by</label>
              <div class="col-sm-8 pr-0">
                <select class="custom-select custom-select-sm mt-1">
                  <option selected="">Most Popular</option>
                  <option value="1">Recently Added</option>
                  <option value="2">Expiring Soon</option>
                </select>
              </div>
            </div>
          </div>
        </ngb-tabset>
        <div class="col-3 wrap-txt-right position-absolute right-0">
          <div class="row">
            <label for="colFormLabelSm" class="col-form-label clr-blue-light">Sort by</label>
            <div class="col-sm-8 pr-0">
              <select class="custom-select custom-select-sm mt-1 border-0 f-bold clr-blue">
                <option selected="">Most Popular</option>
                <option value="1">Recently Added</option>
                <option value="2">Expiring Soon</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-3 wrap-txt-right position-absolute ">
          <div class="row">
            <h5 class="col-form-label clr-blue-light f-bold">Browse</h5>
          </div>
        </div>
      </div>

    </section>

  </div>
  <!-- End Gallery -->
</div>
<app-footer></app-footer>